section{
  position: relative;
  padding: 10px;
}

.grid-container {
  margin: 20px;
}

.icon{
  background-color:forestgreen;
  padding: 10px;
  border-radius: 20px;
  color: cornsilk;
}

.dashboard-card {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.align-right{
  position: absolute;
  right: 0;
  top: 12px;
}

.example-header-image {
  background-image: url('https://img.myloview.com.br/quadros/linha-de-empresa-de-advocacia-tendencia-icone-do-logotipo-design-juridico-universal-advogado-escala-o-simbolo-premium-criativo-700-141385580.jpg');
  background-size: cover;
}
