<mat-list>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Documentos</mat-card-title>
    <mat-card-subtitle>Veja abaixo os documentos recebidos.</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  @for (arquivo of arquivosDocumentos; track arquivo) {
    <section>
      <div matListItemTitle>{{arquivo.nome}}</div>
      <div matListItemLine>{{arquivo.createdAt | date}}</div>
      <a mat-flat-button color="primary"  class="align-right" href="api-nestjs-eficacia.vercel.app/{{arquivo.arquivo_completo}}" target="_blank">Baixar</a>
    </section>
    <mat-divider></mat-divider>
  }
</mat-list>
