<div class="grid-container">
  <mat-grid-list cols="2" rowHeight="300px">
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Documentos</mat-card-title>
          <mat-card-subtitle>Últimos documentos</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          @for (arquivo of arquivosDocumentos; track arquivo) {
            @if (usuario) {
              <section>
                <div matListItemTitle>{{arquivo.nome}}</div>
                <div matListItemLine>{{arquivo.createdAt | date}}</div>
                <a mat-flat-button color="primary" class="align-right" href="{{arquivo.arquivo_completo}}" target="_blank">Baixar</a>
              </section>
              <mat-divider></mat-divider>
            }
          }
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Cobranças</mat-card-title>
          <mat-card-subtitle>Últimas cobranças</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          @for (arquivo of arquivosCobrancas; track arquivo) {
            @if (usuario) {
              <section>
                <div matListItemTitle>{{arquivo.nome}}</div>
                <div matListItemLine>{{arquivo.createdAt | date}}</div>
                <a mat-flat-button color="primary" class="align-right" href="{{arquivo.arquivo_completo}}" target="_blank">Baixar</a>
              </section>
              <mat-divider></mat-divider>
            }
          }
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="2" rowHeight="340px">
    <mat-grid-tile colspan="2" rowspan="1">
      <mat-card class="dashboard-card">
        @if (usuario) {
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Empresa</mat-card-title>
            <mat-card-subtitle>Advocacia Guimarães</mat-card-subtitle>
          </mat-card-header>
          <div class="example-container">
            <mat-form-field appearance="fill" class="campo">
              <mat-label>Nome</mat-label>
              <input matInput placeholder="Nome" value="{{usuario.nome}}">
            </mat-form-field>
            <mat-form-field appearance="fill" class="campo">
              <mat-label>E-mail</mat-label>
              <input matInput placeholder="E-mail" value="{{usuario.email}}">
            </mat-form-field>
          </div>
          <div class="example-container">
            <mat-form-field appearance="fill" class="campo">
              <mat-label>Endereço</mat-label>
              <input matInput placeholder="E-mail" value="{{usuario.endereco}}">
            </mat-form-field>
            <mat-form-field appearance="fill" class="campo">
              <mat-label>Telefone</mat-label>
              <input matInput placeholder="E-mail" value="{{usuario.telefone}}">
            </mat-form-field>
          </div>
          <button mat-raised-button color="primary" class="botao">Salvar</button>
        }
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
