@if (usuarioId) {
  <div class="grid-container">
    <mat-grid-list cols="2" rowHeight="340px">
      <mat-grid-tile colspan="2" rowspan="1">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Usuário</mat-card-title>
          </mat-card-header>
          <div class="example-container">
            <mat-form-field appearance="fill" class="campo">
              <mat-label>Nome</mat-label>
              <input matInput placeholder="Nome" value="{{usuario.nome}}">
            </mat-form-field>
            <mat-form-field appearance="fill" class="campo">
              <mat-label>E-mail</mat-label>
              <input matInput placeholder="E-mail" value="{{usuario.email}}">
            </mat-form-field>
          </div>
          <div class="example-container">
            <mat-form-field appearance="fill" class="campo">
              <mat-label>Endereço</mat-label>
              <input matInput placeholder="E-mail" value="{{usuario.endereco}}">
            </mat-form-field>
            <mat-form-field appearance="fill" class="campo">
              <mat-label>Telefone</mat-label>
              <input matInput placeholder="E-mail" value="{{usuario.telefone}}">
            </mat-form-field>
          </div>
          <button mat-raised-button color="primary" class="botao">Salvar</button>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
}
